.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
}

.header {
  font-weight: 600;
  margin: 16px 0;
}

.description {
  font-size: 14px;
}

.icon {
  font-size: 48px;
}
