@import "../../variables";

.chatHeader {
  background-color: $sidebarBackground;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 $headerHeight;
  flex-direction: column;

  * {
    margin: 0;
  }
}

.onlineStatus {
  display: flex;
  align-items: center;
  position: relative;
}
