.root {
  flex: 0 0 60px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.smileButton {
  margin-right: 18px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  z-index: 1;
}

.icon {
  opacity: 0.5;
  svg {
    height: 20px;
    width: 20px;
  }
}
