.root {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.messagesWrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 0;
}

.inputsWrapper {
  flex: 0 0 60px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.smileButton {
  margin-right: 18px;
}

.inputButtonsWrapper {
  display: flex;
  align-items: center;
  z-index: 1;
}

.icon {
  opacity: 0.5;
  svg {
    height: 20px;
    width: 20px;
  }
}
