$message-padding: 20px;
$date-row-height: 28px;
$max-width: 440px;

$avatar-margin: 12px;
$avatar-size: 32px;

$bubble-border-radius: 12px;
$bubble-padding: 16px;
$bubble-text-line-height: 20px;

$read-status-size: 16px;
$read-status-margin: 8px;

$attachments-h-margin: 4px;
$attachments-top-margin: 8px;
$attachment-size: 48px;

$single-image-size: 150px;

$audio-height: 60px;
$audio-width: 320px;

// FIXME: переписывать аватар через important - это плохо. поправь

@mixin bubble-me {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ececec;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.0220444);
  border-radius: $bubble-border-radius $bubble-border-radius 0
    $bubble-border-radius;

  .audioProgress {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .audioButton {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .audioContent {
    opacity: 1;
  }

  .audioTime {
    color: rgba(0, 0, 0, 0.5);
  }
}
@mixin bubble-not-me {
  background-color: #3674ff;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: $bubble-border-radius $bubble-border-radius
    $bubble-border-radius 0;

  .text {
    color: white;
  }

  .audioProgress {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .audioButton {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .audioTime {
    color: white;
  }
}

@mixin bubble-is-typing {
  display: flex;
  height: 44px;
  align-items: center;
  background-color: #e5edff !important;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.04) !important;
}

.root {
  display: flex;
  align-items: flex-end;
  max-width: $max-width;

  .avatar {
    font-size: 12px;
    margin: 0 !important;
    margin-bottom: $date-row-height !important;
    height: $avatar-size !important;
    width: $avatar-size !important;

    img {
      border-radius: 100%;
      height: $avatar-size !important;
      width: $avatar-size !important;
    }
  }

  .content {
    display: flex;
    align-items: flex-end;

    .bubble {
      padding: $bubble-padding;
      max-width: max-content;

      .text {
        margin: 0;
        line-height: $bubble-text-line-height;
      }
    }

    .readStatus {
      margin-right: $read-status-margin;
      flex-shrink: 0;
      flex-grow: 0;

      svg {
        height: $read-status-size;
        width: $read-status-size;
      }
    }
  }

  .attachments {
    display: flex;
    flex-wrap: nowrap;
    margin-top: $attachments-top-margin;

    .attachmentItem {
      img {
        height: $attachment-size;
        width: $attachment-size;
        border-radius: $bubble-border-radius;
      }
    }
  }

  .date {
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
    line-height: $date-row-height;
    height: $date-row-height;
    font-size: inherit;
    opacity: 0.4;
  }

  &:not(.isMe) {
    flex-direction: row;
    margin-right: auto;
    padding-left: $message-padding;

    .avatar {
      margin-right: $avatar-margin !important;
    }

    .content {
      flex-direction: row;

      .bubble {
        @include bubble-not-me;
      }
    }

    .attachments .attachmentItem:not(:last-child) {
      margin-right: $attachments-h-margin;
    }

    .date {
      text-align: left;
    }
  }

  &.isMe {
    flex-direction: row-reverse;
    margin-left: auto;
    padding-right: $message-padding;

    .avatar {
      margin-left: $avatar-margin !important;
    }

    .content {
      flex-direction: row-reverse;

      .bubble {
        @include bubble-me;
      }
    }

    .attachments .attachmentItem:not(:first-child) {
      margin-left: $attachments-h-margin;
    }

    .date {
      text-align: right;
    }
  }

  &.isTyping {
    .bubble {
      @include bubble-is-typing;

      .typingAnimation {
        margin: auto 0;

        span {
          height: 10px;
          width: 10px;
          float: left;
          margin: 0 4px;
          background-color: #abb8c4;
          display: block;
          border-radius: 50%;
          opacity: 0.2;
          @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
              animation: 1s blink infinite ($i * 0.3333s);
            }
          }
        }
      }

      @keyframes blink {
        50% {
          opacity: 1;
        }
      }

      @keyframes bulge {
        50% {
          transform: scale(1.05);
        }
      }
    }
  }

  .image {
    height: $single-image-size;
    width: $single-image-size;

    img {
      height: $single-image-size;
      width: $single-image-size;
      border-radius: $bubble-border-radius;
    }
  }

  .audioBubble {
    width: $audio-width;
    max-width: $audio-width;
    height: $audio-height;
    min-height: $audio-height;
    max-height: $audio-height;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .audioProgress {
      height: 100%;
      position: absolute;
      z-index: 1;
    }

    .audioContent {
      position: relative;
      z-index: 2;
      padding: 0 20px;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;

      .audioButton {
        cursor: pointer;
        flex: 0 0 auto;
        display: block;
        border-radius: 50%;
        z-index: 2;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        padding: 0;

        svg {
          height: 60%;
          width: 60%;
        }
      }

      .audioDiagram {
        display: block;
        flex: 1 1 auto;
        z-index: 2;

        svg {
          width: 100%;
        }
      }

      .audioTime {
        display: block;
        text-align: right;
        z-index: 2;
        width: 75px;
        min-width: 75px;
        max-width: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }

  &.isMe {
    .audioBubble {
      @include bubble-me;
    }
  }

  &:not(.isMe) {
    .audioBubble {
      @include bubble-not-me;
    }
  }
}
