.root {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;

  ul {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
