$height: 72px;
$avatar-size: 48px;
$font-size: 14px;

$padding-v: calc(($height - $avatar-size) / 2);
$padding-h: 16px;
$margin-between-lines: 8px;

$counter-size: 20px;
$counter-bg-color: #f46b6b;
$counter-color: #fff;

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  cursor: pointer;
  height: $height;
  max-height: $height;
  min-height: $height;
  padding: $padding-v $padding-h;
  font-size: $font-size;
  background-color: transparent;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: #fff;
  }

  &.isSelected {
    background-color: #fff;
  }
}

.avatarWrapper {
  flex: 0 0 auto;
  margin-right: 12px;

  .avatar {
    height: $avatar-size !important;
    width: $avatar-size !important;
  }
}

.body {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 100%;

  .line1 {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .name {
      @include truncate;

      flex: 1 1 auto;
      font-weight: 700;
      margin: 0;
      font-size: inherit;
    }

    .time {
      @include truncate;

      font-weight: 600;
      margin: 0;
      opacity: 0.5;
      margin-left: $margin-between-lines;
    }
  }

  .line2 {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    .text {
      @include truncate;

      flex: 1 1 auto;
      font-size: 16px;
      margin: 0;
      opacity: 0.5;
    }

    .status {
      margin-left: $margin-between-lines;
      flex-shrink: 0;

      .count {
        font-weight: 600;
        margin: 0;
        background-color: $counter-bg-color;
        color: $counter-color;
        height: $counter-size;
        min-width: $counter-size;
        padding: 4px;
        border-radius: calc($counter-size / 2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
