@import "../../_variables.scss";

.icon {
  svg {
    height: 24px;
    width: 24px;
  }
}

.sidebar {
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  background-color: $sidebarBackground;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  opacity: 0.5;
  flex: 0 0 $headerHeight;

  div {
    display: flex;
    align-items: center;
    height: 100%;
  }

  h2 {
    margin-left: 12px;
    margin-bottom: 0;
  }
}

.searchWrapper {
  padding: 16px 20px;
}

.dialogsList {
  overflow-y: auto;
  flex: 1 1 auto;
}

.emptyWrapper {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
