.listItemActive {
    * {
        color: white !important;
    }
}

.listItem {
    padding: 20px 20px !important;
    border-radius: 10px;
    cursor: pointer;
    border-block-end: none !important;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

