.root {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: stretch;
}

.nav {
  flex-grow: 0;
  width: 64px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
