$headerHeight: 60px;
$sidebarBackground: rgba(
  $color: #f7f7f7ad,
  $alpha: 1,
);

.root {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.icon {
  svg {
    height: 24px;
    width: 24px;
  }
}

.chat {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .chatWrapper {
    overflow-y: auto;
    flex: 1 1 auto;
  }
}
