@import '#/client/shared/styles/index.scss';

.main {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar {
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  background-color: $sidebar-background;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
