.button {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.buttonWrapper {
  padding-top: 12px;
}

.registerLink {
  text-align: center;
  display: block;
  color: #adadad;
  letter-spacing: 0.1px;
  font-style: 16px;
}
