@import url("antd/dist/reset.css");

@import "./colors.scss";
@import "./size.scss";

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  color: #202020;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
