@import "@/shared/styles/index.scss";

.chatHeader {
  background-color: $sidebar-background;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 $header-height;
  flex-direction: column;

  * {
    margin: 0;
  }
}

.onlineStatus {
  display: flex;
  align-items: center;
  position: relative;
}
