.root {
  background: white;
  box-shadow: 0 0 24px rgba($color: #000000, $alpha: 0.04204);
  border-radius: 4px;
}

.large {
  padding: 48px;
}
.middle {
  padding: 32px;
}
.small {
  padding: 24px;
}
